<p>Parent say: {{ parentData }}</p>
<button (click)="sendResponse()">Répondre</button>

<p [ngClass]="personnal">
  test works with binding word: {{bindingWord}}!
</p>
<div>
  <input type="text" value="mon texte" [disabled]="isDanger">
<button (click)="btnClick()">{{btnMessage}}</button>
<input [(ngModel)]="twoWayBindingValue" type="text">
{{twoWayBindingValue}}
</div>


<p *ngIf="!isHide">Essaye de me cacher</p>
<p *ngIf="isHide">Je suis caché! :-)</p>
<button (click)="hideText()">Cacher le texte</button>

<div *ngIf="!isHidden; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <p>Moi aussi essaye de me cacher</p>
</ng-template>
<ng-template #elseBlock>
  <p>Moi aussi je suis caché! :-)</p>
</ng-template>

<button (click)="hideText2()">Cacher aussi ce texte</button>

<div [ngSwitch]="color">
  <p *ngSwitchCase="'red'">La couleur est initialisée à rouge</p>
  <p *ngSwitchCase="'blue'">La couleur est initialisée à bleue</p>
  <p *ngSwitchCase="'green'">La couleur est initialisée à verte</p>
  <p *ngSwitchDefault>La couleur est initialisée inconnue</p>
</div>

<div *ngFor="let friend of friends; index as i; first as f; last as l; odd as o; even as e">
  <p>{{ i }}. {{ friend }} (first: {{f}}, last: {{l}}, impair: {{o}}, pair: {{e}})</p>
</div>