<p>Parent say: {{ parentData }}</p>
<button (click)="sendResponse()">Répondre</button>

<p [ngClass]="personnal">
  test works with binding word: {{bindingWord}}!
</p>
<div>
  <input type="text" value="mon texte" [disabled]="isDanger">
<button (click)="btnClick()">{{btnMessage}}</button>
<input [(ngModel)]="twoWayBindingValue" type="text">
{{twoWayBindingValue}}
</div>


<p *ngIf="!isHide">Essaye de me cacher</p>
<p *ngIf="isHide">Je suis caché! :-)</p>
<button (click)="hideText()">Cacher le texte</button>

<div *ngIf="!isHidden; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <p>Moi aussi essaye de me cacher</p>
</ng-template>
<ng-template #elseBlock>
  <p>Moi aussi je suis caché! :-)</p>
</ng-template>

<button (click)="hideText2()">Cacher aussi ce texte</button>

<div [ngSwitch]="color">
  <p *ngSwitchCase="'red'">La couleur est initialisée à rouge</p>
  <p *ngSwitchCase="'blue'">La couleur est initialisée à bleue</p>
  <p *ngSwitchCase="'green'">La couleur est initialisée à verte</p>
  <p *ngSwitchDefault>La couleur est initialisée inconnue</p>
</div>

<div *ngFor="let friend of friends; index as i; first as f; last as l; odd as o; even as e">
  <p>{{ i }}. {{ friend }} (first: {{f}}, last: {{l}}, impair: {{o}}, pair: {{e}})</p>
</div>

<p>{{ pipeMessage }}</p>
<p>{{ pipeMessage | lowercase }}</p>
<p>{{ pipeMessage | uppercase }}</p>
<p>{{ pipeMessage | titlecase }}</p>
<p>{{ pipeMessage | slice:3:10 }}</p>
<p>{{ personnal | json }}</p>
<p>{{ 3.14159 | number:'1.2-3' }}</p>
<p>{{ 3.14159 | number:'3.6-8' }}</p>
<p>{{ 3.14159 | number:'3.1-2' }}</p>
<p>{{ 0.2556 | percent:'1.2-5' }}</p>
<p>{{ 0.2556 | currency:'EUR' }}</p>
<p>{{ date }}</p>
<p>{{ date | date:'short' }}</p>
<p>{{ date | date:'shortDate' }}</p>
<p>{{ date | date:'shortTime' }}</p>
<p>{{ date | date:'medium' }}</p>
<p>{{ date | date:'mediumDate' }}</p>
<p>{{ date | date:'mediumTime' }}</p>
<p>{{ date | date:'long' }}</p>
<p>{{ date | date:'longDate' }}</p>
<p>{{ date | date:'longTime' }}</p>